body{
  all: unset;
}
#map{
  height:100vh;
  box-sizing: border-box;
}

.NEIcon {
  color: green;
}
.NWIcon {
  color: blue;
}
.SEIcon {
  color: red;
}
.SWIcon {
  color: yellow;
}
.layerLabel{
  margin: auto 5px;
}
